online-retails/figure/*
online-retails/main.pdf
online-retails/main.tex
online-retails/R/*.tex
online-retails/R/figure/*
online-retails/main-concordance.tex
online-retails/main.log
online-retails/main.synctex.gz

online-retails/cache
