online-retails/figure/*
online-retails/main.pdf
online-retails/main.tex
online-retails/R/exploratorio.tex
online-retails/R/figure/densidad-1.pdf
online-retails/R/figure/grafico_productos-1.pdf
online-retails/R/figure/histo-1.pdf
online-retails/R/figure/histograma_transacciones-1.pdf
